@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

/* Estilos para el botón de eliminar */
.btn-danger {
    background-color: #ff4d4d;
    color: white;
    border: 1px solid #b30000;
    text-shadow: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); /* Sombra similar a los otros botones */
}

.btn-danger:hover {
    background-color: #b30000;
    color: white;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button-container .btn {
    flex: 1;
    margin: 0 5px;
}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {
	margin: 0;
    padding: 0;
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  overflow-x: hidden;
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.signup { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -150px;
	width:300px;
	height:400px;
}
.signup h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

textarea {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

textarea:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.remember-me {
    color: gray;
    font-size: 12px;
    display: inline-flex;
    align-items: top;
    
}

.remember-me input {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
	margin-top: 1px;
}

#error-message {
    color: rgb(240, 26, 26);
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

header {
    position: relative;
    width: 100%; /* Ancho completo */
    height: 200px; /* Altura que desees */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin relleno adicional */
    overflow: hidden; /* Asegura que la imagen no se desborde */
}
  
  .banner {
	width: 100%;
	height: 100%;
	object-fit: cover; /* La imagen se escala para cubrir todo el área */
  }

  .welcome-text {
    position: absolute; /* Posiciona el texto dentro del banner */
    top: 50px; /* Centra verticalmente el texto */
    left: 50%; /* Centra horizontalmente el texto */
    transform: translate(-50%, -50%); /* Ajusta para que quede centrado tanto vertical como horizontalmente */
    text-align: center;
    font-size: 40px; /* Aumenta el tamaño del texto */
    font-weight: 600; /* Hace el texto más fuerte y visible */
    font-family: 'Arial', sans-serif; /* Establece una fuente moderna y limpia */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    white-space: nowrap; /* Impide que el texto se divida en varias líneas */
    max-width: 90%; /* Establece un ancho máximo para evitar que el texto se "escape" */
    letter-spacing: 2px; /* Añade espacio entre letras para un efecto más elegante */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradiente de colores vibrantes */
    -webkit-background-clip: text; /* Aplica el gradiente al texto */
    color: transparent; /* Hace que el color de fondo se vea solo en el texto */
    z-index: 2; /* Asegura que el texto esté por encima del banner */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Añade sombra al texto para darle profundidad */
    transition: all 0.3s ease-in-out; /* Añade una transición suave para efectos hover */
}


  .icon-link {
  position: absolute;
  top: 20px;
  right: 50px; /* Espacio entre los iconos */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.logout-link {
  right: 10px; /* Ajusta la posición de 'Cerrar sesión' */
}

/* Separador bonito */
.separator {
	border: 0;
	height: 2px;
	background: linear-gradient(to right, #ff7e5f, #feb47b);
	margin: 20px 0;
	margin-left: -10px; /* Margen negativo para ajustar la izquierda */
	margin-top: 0px; /* Margen negativo para ajustar arriba */
  }
  
  .center-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 40vh; /* Ajusta el alto mínimo que quieres */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: 50px; /* Ajusta el margen superior a tu necesidad */
    box-sizing: border-box; /* Asegura que el padding no interfiera en el tamaño */
}

  /* Cuadro de archivos */
  .file-box {
	margin: 5px 20px 20px 20px; /* Ajustamos el margen solo arriba y abajo */
	padding: 20px;
	width: 80%;
  flex-grow: 1;
	min-width: 600px; /* Mínimo tamaño fijo */
	max-width: 600px; /* Máximo tamaño como porcentaje */
	height: calc(100vh - 250px); /* Ajusta el alto a la ventana menos el margen superior e inferior */
 	border: 2px solid #ddd;
	border-radius: 10px;
	background-color: #f9f9f9;
	float: left; /* Pega el cuadro a la izquierda */
  }
  
  .file-table {
	flex-grow: 1; /* Hace que la tabla ocupe el espacio restante */
	overflow-y: auto; /* Scroll si la tabla es muy grande */
	width: 100%;
	margin-bottom: 20px; /* Espacio entre la tabla y los botones */
  }
  
  /* Tabla de archivos */
  .file-table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .file-table td:first-child {
	white-space: nowrap; /* Evita que el texto se divida en varias líneas */
	overflow: hidden; /* Oculta el contenido que se desborda */
	text-overflow: ellipsis; /* Muestra los puntos suspensivos (...) cuando el texto es demasiado largo */
	max-width: 200px; /* Ajusta el tamaño máximo que ocupará el nombre del archivo */
  }

  .file-table th, .file-table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
  }
  
  .file-table th {
	background-color: #f2f2f2;
  }
  
  /* Estilos para el progreso de subida */
  #progress-container {
	margin-top: 10px;
	display: none; /* Oculto por defecto */
  }
  
  progress {
	width: 100%;
	height: 20px;
	margin-top: 10px;
  }
  
  #cancel-upload-btn {
	margin-top: 10px;
	background-color: #ff4d4d;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  #cancel-upload-btn:hover {
	background-color: #ff1a1a;
  }

  .file-box-title {
	font-size: 1.1em; /* Tamaño más pequeño */
	font-weight: bold; /* Mantener el texto en negrita */
	color: #333; /* Color del texto en gris oscuro */
	padding: 4px 12px; /* Relleno reducido */
	border-radius: 8px; /* Bordes redondeados */
	display: inline-block;
	border: 2px solid #777; /* Borde gris */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Sombra sutil */
  }
  
   /* Estilo personalizado para los iconos de acción */
   .action-icons {
	cursor: pointer;
	font-size: 1.2em; /* Tamaño de los iconos */
	margin-right: 10px;
	color: #333;
  }

  .action-icons:hover {
	color: #007bff; /* Cambia el color al pasar el mouse */
  }

  /* Estilo de la barra de progreso */
  #progress-container {
	margin-top: 10px;
	display: none;
  }

  #upload-progress {
	width: 100%;
	height: 20px;
  }

  #cancel-upload-btn {
	margin-left: 10px;
	background-color: red;
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
  }

  #cancel-upload-btn:hover {
	background-color: darkred;
  }

/* ESTILO PARA LOS BOTONES DEL HOME. */

.button-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: -10px;
  margin-left: 20px;
}

.image-button {
  display: flex;
  align-items: center;
  /* //justify-content: center;  Para centrar el contenido */
  justify-content: flex-start;  /* Cambia a flex-start para alinear a la izquierda */

  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Establece un ancho fijo */
  height: 60px; /* Establece una altura fija */
  transition: background-color 0.3s;
}

.image-button img {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.image-button span {
  font-size: 14px;
  color: #333;
}

.image-button:hover {
  background-color: #e0e0e0;
}

/* ESTILO PARA EL USO DEL SCROLL VERTICAL. */

.scroll-container {
  max-height: 600px;    /* Altura máxima antes de que aparezca el scroll */
  overflow-y: auto;     /* Habilitar el scroll vertical cuando sea necesario */
}